normalize-css()


body
  background-color: lightsteelblue;
  color: darkslateblue
  letter-spacing: .2px


.main-layout
  margin: 1em 2em

.resolutions
  font-size: 16px
  padding: 0

  li
    margin-bottom: .5rem
    list-style-type: none;
